# Dependencies
node_modules

# Next.js
/.next/
/out/
/build
next-env.d.ts
*.tsbuildinfo

# Logs
*.log
npm-debug.log*

# Env
.env*
!.env.example

# Vercel
.vercel

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.sw?
